body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fafafc;
    color: #333;
}

.navbar {
background-color: #333;
color: #fff;
padding: 0 20px;
position: sticky;
top: 0;
height: 100px;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 2;
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}


.navbar-container {
display: flex;
align-items: center;
justify-content: center; 
position: relative;
width: 100%;
}
.container {
border: 2px solid black;
padding: 16px;
margin: 20px;
border-radius: 6px;
}

.navbar-menu {
display: flex;
list-style: none;
margin: 0;
padding: 0;
}
.navbar-link {
text-decoration: none;
color: #fff;
margin: 0 20px;
font-size: 1.2rem;
position: relative;
transition: color 0.3s, transform 0.3s;
}
.navbar-link:hover {
color: #b5838d;
}
.navbar-link::after {
content: '';
position: absolute;
bottom: -5px;
left: 50%;
width: 0;
height: 2px;
background-color: #b5838d;
transition: width 0.3s ease, left 0.3s ease;
}
.navbar-link:hover::after {
width: 100%;
left: 0;
}
.navbar-container {
display: flex;
align-items: center;
}
.navbar-logo {
position: absolute;
left: 20px; 
height: 55px;

padding-inline-end: 40%;
}
.form-container {
    background: opacity 0.9;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    
    
}
form {
    display: flex;
    flex-direction: column;
}
label {
    font-weight: 500;
    margin: 8px 0 5px;
    text-align: left;
}
input {
    border: 2px solid black;
    height: 40px;
    border-radius: 8px;
    width: 100%;
    padding-left: 10px;
    font-size: 1rem;
    transition: 0.3s ease;
}

.login-button {
    margin-top: 15px;
    background-color: #28a745;
    color: white;
    border: none;
    height: 40px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.login-button:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

.navbar-item {
    position: relative;
}

.navbar-item .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background: #333;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.navbar-item:hover .dropdown {
    display: block;
}

.navbar-item .dropdown li a {
    display: block;
    padding: 10px 20px;
    white-space: nowrap;
    text-decoration: none;
    color: white;
}

.navbar-item .dropdown li a:hover {
    background: #ff9900;
}
.end {
background-color: #fafafc;
color: #0000008f;
text-align: center;
padding: 5px 0 5px 0px;

}
.links {
display: flex;
justify-content: center;
align-items: center;
padding-bottom: 20px;
}

.links a {
font-size: 2rem; 
margin: 0 15px; 
color: #6e6e73;
transition: transform 0.3s ease, color 0.3s ease;
}

.links a:hover {
color: #ffcc00; 
transform: scale(1.2);
}

.scontainer {
display: flex;
justify-content: center;
align-items: center;
height: 125vh;
/* background-image: url('https://i.pinimg.com/736x/23/6f/5c/236f5ce0ac54b47e4a75e2b5ad8a8053.jpg'); */
background-image: url(LoginBG.jpg);
background-size: cover;
background-position: center;}