.btn{
    background-color: #031930;
    color : #b3d6f9;
    width: 30%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 1.6rem;
}
body{
    background-color: #d1dded;
}
input{
    width: 55%;
    padding: 2%;
    font-size: 30px;
    margin-left: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 1.6rem;
}
.btn1{
    background-color: #031930;
    color : #b3d6f9;
    width: 10%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 1.6rem;
    font-size: 30px;
    margin-left: 2px;
}
h1{
    color :#223a59;
    font-size: 50px;
    text-align: center;
}
nav{
    height: 60px;
    font-size: 1.75rem;
    border-right: 100%;
    border-left: 100%;
    background-color: #05355d;
    border-color: #031930;
    text-align: center;
    display: flex;
    justify-content: space-evenly;  
    align-items: center;  
    word-spacing: 10px;
}
a{
    text-decoration: none;
    color:#feba53;
    transition: all 0.05s linear 0s;
}

a:hover{
    font-size: 35px;
}
table{
    width: 100%;
    border: 1px solid #a3c5f1;
    border-collapse: collapse;
    margin-top: 2%;
    font-size: 20px;
    color :#334663;
    box-sizing: border-box;
    text-align: center;
}
#addTask{
    background-color: #ffffff;
    color : #0c121d;
    width: 100%;
    padding: 2%;
    font-size: 30px;
    margin: 2%;
    border-radius: 5px;
    border: 1px solid #a3c5f1;
    display: none;


    
}
#addTask input{
    height: 20px;
    width: 50%;
    padding: 2%;
    font-size: 30px;
    margin-left: 5px;
}
h2{
    text-align: center;
    color: #223a59;
}
.btn2{
    background-color: #0c6478;
    color : #ffffff;
    width: 20%;
    padding: 2%;
    font-size: 15px;
    margin-left: 2px;
    border-radius: 5px;
    border: 1px solid #ffffff;


}
#buttoncontainer{
    display:flex;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
}
th{
    font-size: 25px;
    height: 35px;
}