nav{
    height: 60px;
    font-size: 1.75rem;
    border: black;
    background-color: #fafafc;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: space-evenly;  
    align-items: center;  
    word-spacing: 10px;

}
a{
    text-decoration: none;
    color:#ff3c26;
    font-weight: 600;
    border: 2px solid #1D1d1F;
    padding: 5px 30px 5px 30px;
    border-radius: 5px;
    transition: all 0.05s linear 0s;
}

a:hover{
    font-size: 35px;
}
table{
    width: 100%;
    border: 1px solid #a3c5f1;
    border-collapse: collapse;
    margin-top: 2%;
    font-size: 20px;
    color :#334663;
    box-sizing: border-box;
    text-align: center;
}
#addProject{
    background-color: #ffffff;
    color : #0c121d;
    width: 100%;
    padding: 2%;
    font-size: 30px;
    margin: 2%;
    border-radius: 5px;
    border: 1px solid #a3c5f1;
    display: none;
    justify-content: center;


}
input{
    width: 55%;
    padding: 1.8%;
    font-size: 30px;
    margin-left: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 1.6rem;
    border-radius: 5px;
}
#addProject input{
    height: 20px;
    width: 50%;
    padding: 2%;
    font-size: 30px;
    margin-left: 5px;
}
button{
    background-color: white;
    color : #6E6E73;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 1.6rem;
    border-radius: 5px;
    width: 22%;
}
#overdue{
    display: none;
    font-size: 30px;
    list-style: circle;
}
#today{
    display: none;
    font-size: 30px;
    list-style: circle;
}
#upcoming{
    display: none;
    font-size: 30px;
    list-style: circle;
}
h2{
    text-align: center;
}
#btn2{
    background-color: white;
    color : #6E6E73;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 1.1rem;
    border-radius: 5px;
    width: 23%;
}
h1{
    color : #1D1d1F;
    font-size: 50px;
    text-align: center;
    height: 70px;
    width: 100%;
    
}
#addMembersBtn{
    width : 20%;
}
#submitBtn{
    width: 15%;
}
#members{
    display: inline-flex;
    gap: 10px;
}
#buttons{
    display: inline-flex;
    justify-content: center;
    width: 50%;
    gap: 20px;

}